.row {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
  
}

h2{
   text-align: center;
}

hr {
   border: 1px solid #333; 
   width: 95%; 
   margin: 5px auto; 
}

.cards{
   border:1px solid #333;
   background-color:#f1f1f1; 
   border-radius:5px; 
   padding:16px; 
   text-align: justify;
   width: 300%;
   margin-left: -250px;
}


   form {
    width: 300px;
    margin: auto;
    text-align: left;
    padding: 20px;
   }

   label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
   }

   input[type="text"], input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
   }  

   input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   }  


